<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mygame.game.mapper.PlayerEntityMapper" >
  <resultMap id="BaseResultMap" type="com.mygame.game.entity.PlayerEntity" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="nickname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="level" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="personal_signature" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="avatar" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="platform" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="platform_nickname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="preferred_loadout_index" jdbcType="BIT" javaType="java.lang.Byte" />
      <arg column="create_time" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="update_time" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, nickname, password, level, personal_signature, avatar, platform, platform_nickname, 
    status, preferred_loadout_index,create_time, update_time
  </sql>
</mapper>