<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mygame.game.mapper.WeaponEntityMapper" >
  <resultMap id="BaseResultMap" type="com.mygame.game.entity.WeaponEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
    <result column="item_type" property="itemType" jdbcType="INTEGER" />
    <result column="static_mesh_assets" property="staticMeshAssets" jdbcType="VARCHAR" />
    <result column="skeletal_mesh_assets" property="skeletalMeshAssets" jdbcType="VARCHAR" />
    <result column="weapon_category" property="weaponCategory" jdbcType="TINYINT" />
    <result column="concrete" property="concrete" jdbcType="TINYINT" />
    <result column="base_clip_capacity" property="baseClipCapacity" jdbcType="INTEGER" />
    <result column="base_clip_size" property="baseClipSize" jdbcType="INTEGER" />
    <result column="max_ammo" property="maxAmmo" jdbcType="INTEGER" />
    <result column="time_between_shots" property="timeBetweenShots" jdbcType="REAL" />
    <result column="ads_in_time" property="adsInTime" jdbcType="REAL" />
    <result column="ads_out_time" property="adsOutTime" jdbcType="REAL" />
    <result column="base_ads_fov" property="baseAdsFov" jdbcType="REAL" />
    <result column="base_damage" property="baseDamage" jdbcType="REAL" />
    <result column="muzzle_speed" property="muzzleSpeed" jdbcType="REAL" />
    <result column="scan_trace_range" property="scanTraceRange" jdbcType="REAL" />
    <result column="semi_burst_count" property="semiBurstCount" jdbcType="INTEGER" />
    <result column="semi_burst_interval" property="semiBurstInterval" jdbcType="REAL" />
    <result column="bullet_per_cartridge" property="bulletPerCartridge" jdbcType="INTEGER" />
    <result column="projectile_damage_multiplier" property="projectileDamageMultiplier" jdbcType="REAL" />
    <result column="require_optic_rail" property="requireOpticRail" jdbcType="BIT" />
    <result column="priority" property="priority" jdbcType="TINYINT" />
    <result column="available_fire_modes" property="availableFireModes" jdbcType="VARCHAR" />
    <result column="available_reload_types" property="availableReloadTypes" jdbcType="VARCHAR" />
    <result column="default_weapon_part_path" property="defaultWeaponPartPath" jdbcType="VARCHAR" />
    <result column="projectile_class_path" property="projectileClassPath" jdbcType="VARCHAR" />
    <result column="weapon_effects_assets_path" property="weaponEffectsAssetsPath" jdbcType="VARCHAR" />
    <result column="base_recoil_horizontal_factor" property="baseRecoilHorizontalFactor" jdbcType="REAL" />
    <result column="base_recoil_vertical_factor" property="baseRecoilVerticalFactor" jdbcType="REAL" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, item_name, alias, item_type, static_mesh_assets, skeletal_mesh_assets, weapon_category, 
    concrete, base_clip_capacity, base_clip_size, max_ammo, time_between_shots, ads_in_time, 
    ads_out_time, base_ads_fov, base_damage, muzzle_speed, scan_trace_range, semi_burst_count,
    semi_burst_interval, bullet_per_cartridge, projectile_damage_multiplier, require_optic_rail,
    priority, available_fire_modes, available_reload_types, default_weapon_part_path, 
    projectile_class_path, weapon_effects_assets_path, base_recoil_horizontal_factor, 
    base_recoil_vertical_factor, desc, create_time, update_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_weapons
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_weapons
    where id = #{id,jdbcType=BIGINT}
  </delete>
</mapper>